
<div>
    <div class="col-sm-10">

        <div class="title contact-name">
            <%if(title && title != ""){print(title + ' : ')}%>

            <p class="contact-name"><%=firstname + " " + lastname%></p>
        </div>
        <div>
            <label><%=labels.cellphone%></label><%=cellPhone || "-"%>
        </div>
        <div>
            <label><%=labels.homephone%></label><%=homePhone || "-"%>
        </div>
    </div>
    <div class="col-sm-2">
        <img class="user-image" src="<%=image%>">
    </div>
</div>

<div style="clear: both "></div>
<div class="item-btns">
    <a class="btn btn-danger left"><%=labels.delete%></a>
    <a class="btn btn-default left"><%=labels.edit%></a>
</div>
<div style="clear: both "></div>