<div id="<%=id%>" class="list-group-item mini-user-image">
    <img src="<%=photo%>" >
    <span>
        <%=firstname + " " + lastname%>
        <%if(position){%>
        (<%=position%>)
        <%}%>
    </span>
    <i class="glyphicon glyphicon-remove pull-left remove-user" style="color: red;cursor: pointer;font-size: 13px;line-height: 23px;"></i>
</div>