<div class="panel panel-default news-item" id="<%=id%>">
    <div class="panel-heading" role="tab" id="heading-<%=id%>">
        <h4 class="panel-title">
            <div class="col-md-1">
                <%if(type != "published"){%>
                <a style="color:green;" type="button" class="glyphicon glyphicon-ok publish-action" data-action="publish" data-toggle="tooltip" data-placement="bottom" title="<%=labels.publish%>"></a>
                <%}%>

                <%if(type != "unpublished"){%>
                <a style="color:red;" type="button" class="glyphicon glyphicon-remove publish-action" data-action="unpublish" data-toggle="tooltip" data-placement="bottom" title="<%=labels.unpublish%>"></a>
                <%}%>

            </div>
            <a class="col-md-11" aria-controls="collapse-<%=id%>" aria-expanded="true" href="#collapse-<%=id%>" data-parent="#accordion" data-toggle="collapse" role="button">
                <%=(headline || title)%>
            </a>
            <div style="clear: both"></div>
        </h4>
    </div>
    <div id="collapse-<%=id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=id%>">
        <div class="panel-body">
            <div><%=body%></div>
            <div>
                <%_.each(tags, function(tag){%>
                <span class="badge"><%=obj.tag%></span>
                <%})%>
            </div>
            <div>
                <a target="_blank" href="<%=source.homepage%>"><%=source.title%></a>
            </div>
            <%if(image){%>
            <div>
                <img width="200px" src="<%=image%>"/>
            </div>
            <%}%>
        </div>
    </div>
</div>