<div class="container">
    <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav navbar-nav pull-right" style="line-height: 40px; font-size: 17px;">
            <li>
                <p style="line-height: 24px;
                   margin-top: 14px;
                   text-align: right;">
                    <span style="font-size: 20px;"><%=labels.login_msg2%></span>
                    <span style="font-size: 14px;display: block"><%=labels.login_msg%></span>
                </p>
            </li>
            <li>
                <img class="toolbar-logo" src="/img/logo.png"/>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-left">
            <li id="logout" class="pointer"><a href="#logout"><%=labels.logout%></a></li>
            <li class="pointer"><a href="#changePassword"><%=labels.change_password%></a></li>
            <li class="pointer"><a href="#home"><%=labels.home%></a></li>
        </ul>
    </nav>
</div>

