<div>
    <div class="col-sm-10">
        <p class="title"><%=firstname + " " + lastname%></p>
        <%if(registrationCode){%>
        <div><label><%=labels.registrationCode%></label> : <%=registrationCode%></div>
        <%}%>
        <p class="user-email"><%=email%></p>
    </div>
    <div class="col-sm-2">
        <img class="user-image" src="<%=photo%>">
    </div>
</div>

<div style="clear: both "></div>
<div class="item-btns">
    <a class="btn btn-danger left"><%=labels.delete%></a>
    <a class="btn btn-default left"><%=labels.edit%></a>
</div>
<div style="clear: both "></div>