@import url('/js/vendor/bootstrap/dist/css/bootstrap.css');
@import url('docs.css');
@import url('/js/vendor/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.min.css');
@import url('/js/vendor/fullcalendar-2.2.0/fullcalendar.css');
@import url('tagit.css');


@font-face {
    font-family: 'abfa';
    src:url('../fonts/bbc-nassim-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abfa-bold';
    src:url('../fonts/bbc-nassim-bold.ttf');
    font-weight: bold;
    font-style: bold;
}

/* FARSI LAYOUT*/
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
    text-align: right;
}
html , body{
    height: 100%;
}

body{
    color: #333;
    font-family: "abfa";
    text-align: right;
    font-size: 12pt;
    background-image: url("/img/MainPattern.png");
    background-repeat: repeat-x;
    /*background-size: cover;*/
    background-attachment: fixed;
}

h4, .h4, h5, .h5, h6, .h6{
    margin: 0;
}
header{
    background-color: transparent !important;
}

header .container{
    width: 1170px;
    background-color: #f5fcff;
    border-radius: 1px;
}

.bs-docs-nav .navbar-nav > li > a{
    /*color: #FFFFFF;*/
}

.bs-docs-nav .navbar-nav > li > a:hover, .bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover {
    background-color: transparent;
    /*color: #FFFFFF;*/
}

.toolbar-logo{
    margin-left: 10px;
    width: 70px;
}

.bs-docs-sidenav {
    margin-bottom: 20px;
    margin-top: 60px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    list-style: none;
}

textarea{
    resize: none;
    width: 300px;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}


.control-group{
    min-height: 30px;
    width: 100%;
    margin: 10px auto;
}
input, select{
    height: 30px;
    width: 300px;
}

.left{
    float: left;
}

.right{
    float: right;
}

label{
    font-size: 14px;
    margin-bottom: 5px;
    width: 100px;
    font-style: normal;
    font-weight: unset!important;
    vertical-align: top;
}


.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.navbar a:active, .navbar a:hover{
    color: #FFFFFF;
}

#main-container-wrapper {
    width: 1170px;
    margin: auto;
    margin-top: 50px;
    height: 100%;
    direction: rtl;
    background-color: #FFFFFF;
}


#main-container-wrapper > .row{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}
#main-container-wrapper > .row > div{
    height: 100%;
}

.right-navigation-panel .menu-items li > a{
    color: #666666;
    font-family: abfa;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.right-navigation-panel{
    padding: 0;
    position: fixed;
    width: 240px;
}

.right-navigation-panel > div{
    margin-top: 50px;
    color: #FFFFFF;
}

.right-navigation-panel li{
    text-align: right;
    min-height: 30px;
    width: 100%;
    direction: ltr;
    font-size: 15px;
    cursor: pointer;
}

.right-navigation-panel li.selected {
    background-color: #2363ba;
    position: relative;
    /*border-left: 4px solid #2363ba;*/
}
.right-navigation-panel li.selected a{
    color: #FFFFFF;
}

.right-navigation-panel li.selected:before{
    border-bottom: 8px solid rgba(0, 0, 0, 0);
    border-left: 8px solid #FFFFFF;
    border-top: 8px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    left: -1px;
    position: absolute;
    top: 31%;
    width: 0;
}

.page-content{
    height: 100%;
    background-color: #FFFFFF;
}

.bs-docs-sidebar{
    padding-left: 23px;
}

.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus{
    border: none;
}

.bs-docs-sidebar .nav > li > a{
    padding: 10px 20px !important;
    /*color: #FFFFFF;*/
    color: #666666;
    font-size: 20px;
}

.items-wrapper{
    /*box-shadow: 1px 0 5px -1px #9adcff inset;*/
}

.items-wrapper, .categories-wrapper{
    margin-top: 30px;
}
.categories-wrapper{
    display: none;
}
/*.itme-wrapper .icons{
    display: none;
}
.itme-wrapper:hover .icons{
    display: inline-block;
}*/

.itme-wrapper, .contact-item{
    margin-bottom: 10px;
    border-radius: 2px;
    border: 1px solid #f9f9f9;
    position: relative;
    padding: 10px;
    clear: both;
    min-height: 45px;
}

.icons{
    background-color: #ffffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 3px 3px 3px #888888;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 4px 8px;
}

.icons i:first-child {
    cursor: pointer;
    display: block;
    font-size: 12px;
    margin-bottom: 7px;
}

.second-navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom-color: #c9c9c9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: -moz-use-text-color;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: none;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: medium;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: -moz-use-text-color;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: none;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: medium;
    border-top-color: -moz-use-text-color;
    border-top-style: none;
    border-top-width: medium;
    box-shadow: 0 1px 0 0 #ffffff;
    color: #cccccc;
    font-size: 20px;
    height: 40px;
    padding-bottom: 5px;
}

.second-navbar span.selected {
    border-bottom-color: #008000;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: #000000;
}
.second-navbar > span {
    cursor: pointer;
    display: block;
    float: right;
    height: 40px;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
    margin-top: auto;
    min-width: 50px;
    text-align: center;
}

.modal {
    overflow: hidden;
}

/*LOGIN*/

.login-wrapper {
    bottom: 8%;
    left: 37%;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    position: absolute;
    top: 8%;
    border: 1px solid #ADE2FF;
    border-radius: 2px;
}

.login-logo {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

.login_msg {
    color: #00038A;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.login-wrapper .control-group {
    font-size: 17px;
    height: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 250px;
}

.login-wrapper input {
    direction: ltr;
    font-size: 16px;
    height: auto;
    line-height: 30px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    text-align: left;
    width: 100%;
}

.login-wrapper .btn-primary {
    background-color: #008000;
    border-bottom-color: #008000;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #008000;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #008000;
    border-top-color: #008000;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
}

.item-btns .btn{
    padding: 2px;
    font-family: abfa-bold;
    font-size: 12px;
    margin-right: 3px;
    width: 50px;
    visibility: hidden;
}

.itme-wrapper:hover, .contact-item:hover{
    border-color: #EEEEEE;
    background-color: #fafafa;
}
.itme-wrapper:hover .item-btns .btn, .contact-item:hover .item-btns .btn{
    visibility: visible;
}

.category-title{
    color: #2363BA;
}

.items-wrapper .title{
    font-size: 15px;
}

.user-image{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.mini-user-image img{
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-image: url("/img/user.jpg");
    background-size: cover;
}

.mini-user-image span{
    font-size: 13px;
    margin-right: 15px;
}

.user-name{
    margin: 35px 120px;
}

.right-navigation-panel{
    background-color: #F5FCFF;
}

#image_upload_btn{
    margin-right: 8px;
    margin-top: 20px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

.user-image{
    background-image: url("/img/user.jpg");
    background-size: cover;
}

.modal-footer .btn{
    width: 100px;
    float: left;
}

#display-levels, #display-aliases{
    width: 432px;
    min-height: 50px;
    border: 1px solid #eeeeee;
    margin: 0;
    margin-right: 103px;
}
#display-levels li{
    float: right;
}

.modal-dialog{
    width: 450px;
}
.tagit-new{
    overflow: hidden;
    direction: rtl;
}
.tagit-new input{
    border: none;
}

.user-form {
    width: 750px;
}
.keyword-form .modal-dialog{
    width : 600px;
}

.keyword-form input{
    width : 432px;
}

.user-form input, .user-form select{
    width: 430px;
}

.user-form .col-md-10{
    padding: 0;
}

.news-form{
    width: 750px;
}

.news-form input , .news-form textarea{
    width: 580px;
}
.photos-list{
    padding-bottom: 0;
    padding-left: 25px;
    padding-right: 100px;
    padding-top: 0;
}

.photos-list img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 5px;
}

.news-form #image_upload_btn{
    float: left;
    margin-left: 30px;
}

#change-password-form{
    padding-top: 120px;
}

#change-password-form .control-group{
    width: 440px;
}

.btn-save-password{
    padding-right: 100px;
}
#save-password{
    width: 302px;
}
.shortDesc{
    color: #666666;
    margin-bottom: 10px;
    margin-top: 5px;
}
.dir-ltr{
    direction: ltr;
}

.before-login{
    background-color: transparent !important;
}

.news-wrapper img{
    width: 100px;
    height: auto;
}

.hold-on-loading{
    background-color: #333333;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: -50px;
    display: none;
    width: 100%;
    z-index: 10000;
}

.hold-on-loading img {
    left: 50%;
    position: absolute;
    top: 50%;
}

.error{
    color: red;
}
.error input, .error select, .error textarea{
    border-color: red;
    box-shadow: none !important;
    border-width: 1px;
}

.error #display-levels{
    border-color: red !important;
}

.rquired_error, .error_msg{
    visibility: hidden;
    color: red;
}

.error_msg{
    position: absolute;
    top: -15px;
    font-size: 12px;
}
.relative {
    position: relative;
}

.user-form .control-group{
    margin-bottom: 15px;
}

.photo-item{
    float: right;
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 10px;
}

.delete-photo{
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    font-size: 25px;
    top: -10px;
}

.photo-item:hover .delete-photo{
    visibility: visible;
}

.input-group-addon.glyphicon {
    top : 0;
}

.contact-item .contact-name{
    font-size : 18px;
}

.contact-item label{
    color : #666666;
}
.calendar-wrapper {
    margin-top: 50px;
}
.fc-button-group{
    display: none;
}

.popover{
    min-width : 200px;
    max-width : 500px;
    z-index: 10000;
}

.datepicker-header{
    direction: ltr;
}

.datepicker-day-view td{
    width : 14.2% ;
}

.datepicker-day-view td a.user-info{
    display: block;
    cursor: pointer;
    background-color: #666666;
    color: #FFFFFF;
}
