#wizard-wrapper li {position:relative;}
#wizard-wrapper div.slider-bg {background:#000;top:300px;height:102px;width:600px;left:0;position:absolute;z-index:10;opacity:.5;}
#wizard-wrapper div.slider-info {top:300px;height:72px;left:0;position:absolute;width:65px;z-index:15;padding:15px;}
#wizard-wrapper div.slider-info strong {font-size:18px;color:#fff;margin-bottom:5px;}
#wizard-wrapper{
    margin-bottom: 20px;
}



.wizard-wrapper{
    margin-top: 50px;
    /*font-family: yekan;*/
}

.wizard-wrapper ul.wrapper{
    margin-bottom: 50px;
    padding: 0px 10px;
}

.wizard-wrapper li.slider-item-close{
overflow: hidden;
}



.wizard-wrapper label{
    display: block;
    
}

.wizard-wrapper .tooltip-inner{
    direction: rtl;
    
}

.wizard-wrapper li{
    background-color: #fff;
    
}

.wizard-wrapper li.slider-item-open .slider-stage{
    opacity: 0;
    border: 0px;
    z-index: -1;
}

.wizard-wrapper .slider-stage{
    top: 0px;
    left: 0;
    text-align: center;
    position: absolute;
    width: 15%;
    z-index: 15;      
    border:1px solid #fff;
    webkit-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;    
    background-color: #eee;
    bottom: 0px;
    border-top: 0px;
}

.wizard-wrapper .text-rotate span:second-of-type{
    top: 10px;
    position: relative;
    left: 2px;
    
}

.wizard-wrapper .text-rotate span{
    display: block;
    font-size: 20px;
    font-family: tahoma;
    color: #777;

 }

 .wizard-wrapper .text-rotate span:first-of-type{
    font-size: 15px;
 }

.wizard-wrapper .text-rotate{
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    display: block;
    padding-left: 49px;
    font-family: arial;
    font-size: 17px;
    white-space: nowrap;
}

.wizard-wrapper .stage-num{
    text-align: center;    
    display: block;
    color: #fff;
    padding: 12px 10px 12px 10px;
    font-size: 17px;
}

.wizard-wrapper .slider-title{
   position: absolute;    
    padding: 10px 15px 10px 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #fff;
    font-size: 15px;
    border-left: 1px solid #fff;    
    cursor: pointer;
}

.wizard-wrapper .slider-title[disabled]{
    cursor: default;
}

.wizard-wrapper .slider-item-closed .slider-title{
    /*opacity*/: 0;
}

.wizard-wrapper .stage-1 .slider-title{   
    background-color: #2dcd9d;   
}

.wizard-wrapper .stage-2 .slider-title{   
    background-color: #ab69b3;   
}

.wizard-wrapper .stage-3 .slider-title{   
    background-color: #656e7f;   
}

.wizard-wrapper .stage-4 .slider-title{   
    background-color: #6864D3;   
}

.wizard-wrapper .stage-1 .stage-num{
    background-color: #2dcd9d;
}

.wizard-wrapper .stage-2 .stage-num{
    background-color: #ab69b3;
}

.wizard-wrapper .stage-3 .stage-num{
    background-color: #656e7f;
}

.wizard-wrapper .stage-4 .stage-num{
    background-color: #6864D3;
}

.wizard-wrapper .slider-content li{
    direction: rtl;
}

.wizard-wrapper .slider-item-closed .slider-content{
    opacity: 0;    
}

.wizard-wrapper .slider-item-open .slider-content{
    opacity: 1;
}


.wizard-wrapper .slider-content{
    position: relative;
    opacity: 1;
    top: 50px;
    overflow-y:auto;
    height: 90%;
    direction: ltr;
    font-family: tahoma;
    webkit-transition: opacity 1.7s ease-in-out;
    transition: opacity 1.7s ease-in-out;    
    padding: 10px 15px;
}

.wizard-wrapper .slider-content ul{
    margin-bottom: 15px;
}

.wizard-wrapper .slider-content .question{
    font-size: 16px;
    direction: ltr;
    
}

.wizard-wrapper .slider-content span.answeritems{
    padding: 3px 0px;    
    font-size: 13px;
    margin: 4px auto 0px;
    width: 110px;
    height:110px;    
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.stage-3 span.span-wrap-border.selected{
     border: 3px solid #656e7f;

}

.stage-2 span.span-wrap-border.selected{
     border: 3px solid #ab69b3;
}

.stage-1 span.span-wrap-border.selected{
     border: 3px solid #2dcd9d;
}

.stage-3 span.answeritems:hover span.span-wrap-border:not(.selected){
     border: 3px solid #B3C2DD;

}

.stage-2 span.answeritems:hover span.span-wrap-border:not(.selected){
     border: 3px solid #E0C4E4;
}

.stage-1 span.answeritems:hover span.span-wrap-border:not(.selected){
     border: 3px solid #C1E7DC;
}

.wizard-wrapper span.span-wrap-border.selected, .wizard-wrapper .answeritems:hover span{        
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: -6px;
    right: -6px;
    position: absolute;
    width: 118px;
    height: 118px;
    display: block;
    box-sizing: border-box;
    padding: 58px;  
    z-index: -5;
}

.wizard-wrapper .slider-content .col-md-12{
    padding: 0px;
}

.wizard-wrapper .slider-content .answers-wrap{    
    padding: 34px 0px;
    min-height: 190px;
}

.answeritems-1{
    background-image:url('/img/wizard/1.png');
}
.answeritems-2{
    background-image:url('/img/wizard/2.png');
}
.answeritems-3{
    background-image:url('/img/wizard/3.png');
}
.answeritems-4{
    background-image:url('/img/wizard/4.png');
}

.stage-4 .item-wrap{
    height: 27px;
    display: none;
    clear: both;
}

.stage-4 .item-wrap label{
    float: right;
    width: 100%;
    font-size: 16px;
    direction: ltr;    
    font-family: tahoma;
    color: #777;
    height: 60px;
}

.stage-4 input[type=text]{
    width: 98px;
    height: 25px;
}

.stage-4 input[disabled]{
    background-color: #eee;
}

.stage-4 input[type=checkbox]{
    float: left;
}

.stage-4 .wizard-footer{
    display: none;
    border-radius: 3px;
    min-height: 40px;
    width: 100%;
}

.stage-4 .icheckbox_square, .iradio_square{
    position: relative;

}

.stage-4 .wizard-footer .form-group label{ 

    font-size: 17px;
    /*font-family: yekan;*/
    color: #777;
}

.stage-4 .add-new-debt{
    position: relative;
    top: -1px;
}

.stage-4 .wizard-footer .form-group {
    padding-top: 10px;    
    direction: ltr;
}

#debt-tables {
    direction: ltr;
    background-color: #f5f5f5;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}


#debt-tables td:first-of-type, #debt-tables th:first-of-type {
    text-align: left;
}

#debt-tables td, #debt-tables th {
    text-align: center;
}

.make-des .answers-wrap .answeritems{
    background-image: url('/img/wizard/decisionSpriteEn.png');
    background-position: 0px 0px;
}

.opinion .answers-wrap .answeritems{
    background-image: url('/img/wizard/opinionSpriteEn.png');
    background-position: 0px 0px;
}

.reaction .answers-wrap .answeritems{
    background-image: url('/img/wizard/reactionSpriteEn.png');
    background-position: 0px 0px;
}

.item-wrap:first-of-type{
    padding-top: 60px;
}

.item-wrap a.btn{
    width: 60px;

    position: relative;

}

.show-next.dis{
    background-color: #ccc;
    border: 1px solid #ccc;
}

.item-wrap input[type=text]{
    margin: 0px 7px;
    width: 60px;
    font-size: 15px;
    text-align: center;
}

#wizard-wrapper .symbol-form input{
    font-size: 12px;
}

#wizard-result .step-content{
    overflow: hidden;   
}

#wizard-result .step-content input{
    width: 50px;
    width: 40px;
    float: left;
    text-align: center;
}

#wizard-result .step-content .title{
    font-size: 17px;
    padding: 0px;
 }

 #wizard-result .age-wrap{
    margin-top: 30px;
 }

  #wizard-result .age-wrap span, #wizard-result .age-wrap input{
    float: left;
  }

 #wizard-result .wrap-retiremnet{
    margin-top:20px;
    padding-left: 0px;
    margin-bottom: 10px;
 }

 #wizard-result .val-age{
    width: 47px;
 }

 #wizard-result .val-retirement{
  width: 110px;  
  float: left;
 }


#wizard-result .step-wizard{  
    height: 100%;
    width: 69px;
    float: left;
    font-size: 60px;
    color: #CCC;
    /*font-family: yekan;*/
}


.wizard-result{
    background-color: #FFF;
    height: 100%;
}

#wizard-result table{
    width: 80%;
}

#wizard-result table tr{
    border-bottom: 1px solid #eee;
    padding: 8px;
    height: 29px;
}

#wizard-result .wizardr-title{
    padding: 10px 0px;
    font-size: 20px;
}

.wizard-result-top{
    padding-top: 20px;
    min-height: 175px;
    background-color: #EEE;
}

.wizard-result-top-item{
    margin-top: 15px;
}

.suggestion-result{
    padding:60px 15px 20px;
} 

.suggestion-result div{
    text-align: center;
    padding: 16px 0px;
    color: #fff;    
    font-size: 20px;
    float: left;
    position: relative;
}

.suggestion-result div > .arrow, .suggestion-result div > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.suggestion-result div > .arrow {
    border-width: 11px;
}

.suggestion-result div.bottom > .arrow {
    top: -40px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;    
}

.suggestion-result div.bottom .title{
    position: absolute;
    top: -39px;
    margin-left: -140px;
    left: 50%;
    font-size: 13px;
}

.chart-wizard-wrapper .wizardr-title{
    font-size: 18px !important;
}

.suggestion-result {
    min-height: 180px;
}

.wizard-result-top .step-content .btn-group button:hover{
    border: 1px solid #e7e7e7;
    cursor: default;
}

.wizard-result-top .step-content .btn-group{
    margin-top: 20px;
}

.wizard-result-top .step-content .btn-group button{
    height: 30px;
    color: #444;
}

.chart-wizard-wrapper{
    min-height: 200px;
    padding: 10px 0px;
}

#slider-range{
    margin: 0px 15px;
    padding: 8px;
    width: 256px;
    margin-top: 2px;
}

#slider-range  .ui-state-default,#slider-range #slider-range  .ui-widget-content .ui-state-default,#slider-range  .ui-widget-header .ui-state-default{
    height: 22px;
}

#slider-range.ui-widget-content{
    border: 1px solid #E7E7E7;

}

#slider-range.ui-slider-horizontal .ui-slider-range{
    background: #1F8FD6;
}

.titles-slider-wrap{
    padding:0px;
}

.titles-slider-wrap .age{
    margin-right: 265px;
}

.bottom.result-darayi-1{
    width: 50%;
}

.bottom.result-darayi-2{
    width: 50%;
}

#wizard-result .chart-wizard-wrapper .col-md-4{
    padding-right: 0px;
}