

<?php echo $this->doctype(); ?>


<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php
        $result = $this->identity();
        
        if ($result) {
            $user = array(
                "id" => $result->getId(),
                "email" => $result->getEmail(),
                "username" => $result->getUsername(),
                "name" => $result->getDisplayName(),
                "imagePath" => $result->getPhoto(),
            );
        }else {
            $user = null;
        }
        ?>
        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
        <title>آب و فاضلاب</title>

        <link href="/css/style.css" rel="stylesheet">
        <script type="text/javascript">
            var current_user = {};
            
<?php if ($user) { ?>
                window.current_user = <?php echo json_encode($user) ?>;
                window.current_user.credit = 0;
<?php } ?>

        </script>
        <script data-main="/release/js/main" src="/js/vendor/requirejs/require.js"></script>


    </head>
    <body>
        <header role="banner" id="top" class="navbar navbar-fixed-top bs-docs-nav"></header>
        <div id="main-container-wrapper">
            <?php echo $this->content;
            exit;
            ?>
        </div>
    </body>

</html>
